save-exact=true
engine-strict=true
strict-peer-dependencies=true
auto-install-peers=true
resolution-mode=highest
confirm-module-purge=false
link-workspace-packages=true
public-hoist-pattern[]=@angular/*
public-hoist-pattern[]=@angular-devkit/*
